@model CorporX.Models.Home.Setting


<li class="d-flex align-items-center py-2"><span class="fas fa-map-marker-alt mr-2"></span> @Model.Address</li>
<li class="d-flex align-items-center py-2"><span class="fas fa-envelope mr-2"></span> @Model.Email</li>
<li class="d-flex align-items-center py-2"><span class="fas fa-phone-alt mr-2"></span> @Model.Phone</li>



