@model CorporX.Models.Home.TeamItem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Control/Views/Shared/_AdminLayout.cshtml";
}

<section>
    <container>
        <row>
            <div class="px-4">
                <h1 class="text-success">Create</h1>

                <h4>TeamItem</h4>
                <hr />
                <div class="row">
                    <div class="col-md-8">
                        <form asp-action="Create" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="FullName" class="control-label"></label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Position" class="control-label"></label>
                                <input asp-for="Position" class="form-control" />
                                <span asp-validation-for="Position" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Content" class="control-label"></label>
                                <input asp-for="Content" class="form-control" />
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                            <div class="custom-file my-3">
                                <input asp-for="Upload" class="custom-file-input">
                                <label asp-for="Upload" class="custom-file-label">Choose file</label>
                                <span asp-validation-for="Upload" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Facebook" class="control-label"></label>
                                <input asp-for="Facebook" class="form-control" />
                                <span asp-validation-for="Facebook" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Linkedin" class="control-label"></label>
                                <input asp-for="Linkedin" class="form-control" />
                                <span asp-validation-for="Linkedin" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Dribbble" class="control-label"></label>
                                <input asp-for="Dribbble" class="form-control" />
                                <span asp-validation-for="Dribbble" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4 ">
                        <img class="image-preview img-fluid mt-4" />
                    </div>
                </div>

                <div>
                    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                </div>

            </div>
        </row>
    </container>
</section>

